NODE_ENV=development
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/sineq_apk_store
SESSION_SECRET=buraya_cok_uzun_guclu_bir_secret_yaz
BLOB_READ_WRITE_TOKEN=vercel_blob_token_buraya
UPLOAD_MAX_APK_MB=250
UPLOAD_MAX_LOGO_MB=8
